body {
  background-color: rgb(218, 185, 191);
}
article {
  text-align: center;
  width: 20vw;
  box-shadow: rgba(204, 11, 130, 0.25) 0px 50px 100px -20px, rgb(105, 9, 9) 0px 30px 60px -30px, rgb(194, 19, 135) 0px -2px 6px 0px inset;
  padding-top:10px;
  padding-bottom: 10px;
  background-color: rgb(214, 193, 193);

}

img {
max-width: 100px;
}

 article img:hover {
  opacity: 50%;
  transition: all 500ms;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.popUp {
width: 50vw;
height: 50vh;
background-color: beige;
display: flex;
justify-content: center;
align-items:center;
position: fixed;
flex-direction: row;
gap: 50px;
}

.popUp img {
  display: flex;
  flex-wrap: wrap;
  width: 10vh;
  height: 10vh;
}