body {
  background-color: rgb(218, 185, 191);
}
article {
  text-align: center;
  width: 20vw;
  box-shadow: rgba(204, 11, 130, 0.25) 0px 50px 100px -20px, rgb(105, 9, 9) 0px 30px 60px -30px, rgb(194, 19, 135) 0px -2px 6px 0px inset;
  padding-top:10px;
  padding-bottom: 10px;
  background-color: rgb(214, 193, 193);
}

img {
max-width: 100px;
}


